nav,
button {
  font-size: 1.1rem !important;
}
.navbar-brand {
  font-size: 1.5rem;
}
header {
  background-image: url(/images/image.jpg);
  background-size: cover;
}
.boxes > div {
  background-color: rgba(255, 255, 255, 0.9);
}
.boxes {
  margin-top: 100px;
}
.h5 {
  text-align: justify;
}
.Container-fluid .title {
  margin: 0;
}
